numpy
pandas
nbformat>=4.2.0
matplotlib
seaborn
wordcloud
nltk
scikit-learn
imbalanced-learn
scipy
xgboost
lightgbm
umap-learn
hdbscan
sentence-transformers
transformers
torch
datasets
accelerate
bertopic
setfit
requests
beautifulsoup4
lxml
imblearn
xgboost
